*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: red;
    height: 100vh;
    width: 90%;
    text-align: center;
}

.card{
    background-color:  #083D4B;
    height: 50vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-left: 60vh;
    text-align: center
}
li{
    list-style: none;
    color: white;
}

h2{
    color: white;
}